
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');




html {
  font-family: Edu SA Beginner;
  background-color: #dedee2;
  color: darkgoldenrod;
  border-style:double;
  border-width:15px;
  font-size:20px;
}

button {
  background-color: #7300ff;
  /* green */
  border: #e08506;
  border-style: ridge;
  color: #04ff00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
}
.list{
  font-size:23px;
}
img{
  border-style:groove;
  border-color:goldenrod;
  border-width: 10px;
}